<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/estilos/style.css">
    <title>Mecanicos</title>
</head>
<body> 
    <header class="header"><h1>Mecanicos a la mano</h1></header>
    <nav class="nav">

        <a class= "a" href="/src/public/secciones/inicio.html" target="paginas">Inicio</a>
        <a class= "a" href="secciones/servicios.html" target="paginas">Servicios</a>
        <a class= "a" href="/src/public/secciones/registro.html" target="paginas">Agregar servicios</a>
        <a class= "a" href="/src/public/secciones/registro.html" target="paginas">Rgistrarse</a>
        <a class="a " href="/src/public/secciones/inicioSesion.html" target="paginas">Iniciar sesion</a>
    </nav>

    <main>
        <iframe name="paginas" class="iframe" src="" frameborder="0"></iframe>
    </main>
    
</body>
</html>